# Backend
backend-api/target/
backend-api/.mvn/
backend-api/mvnw
backend-api/mvnw.cmd
backend-api/.settings/
backend-api/.classpath
backend-api/.project
backend-api/.factorypath
backend-api/.springBeans
backend-api/.sts4-cache/
backend-api/HELP.md

# Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 